*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(135deg,#833ab4,#1dc1fdca,#5dfc45);
            min-height: 100vh;
        }
        .container{
            background: linear-gradient(135deg,#833ab4,#1dc1fdca,#5dfc45, #fcb045, #fd1d1d);
            width: 600px;
            padding: 20px;
            border-radius: 15px;
            margin: 30px auto;
            box-shadow: 0 8px 20px rgb(3, 223, 18);
            transition: all 1s;
        }
        .container:hover{
            box-shadow: 0 8px 20px rgb(223, 146, 3);
            transform: translateY(-10px);
        }
        h1{
            border-radius: 10px;
            color:  black;
            font-size: 35px;
            background-color: #175fcb;
            width: 550px;
            height: 45px;
            box-shadow: 5px 5px 7px blue;
            transition: 0.36s;
            margin-bottom: 30px;
            padding-left: 50px;
        }
        h1:hover{
            box-shadow: 5px 5px 7px red;
        }
        form{
            margin-top: 25px;
        }
        label{
            display: block;
            margin-bottom: 15px;
            font-weight: bold;
            color: #ad0000;
            font-size: 25px;
        }
        input, textarea{
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        textarea{
            resize: none;
            height: 150px;
        }
        input:focus, textarea:focus{
            border-color: #e1306c;
            outline: none;
            box-shadow: 0 0 5px rgba(225, 48,108, 0.5);
        }
        button{
            background-color: #e1306c;
            width: 100%;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 25px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 12px;
        }
        button:hover{
            background-color: #d1205c;
        }